.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Banner {
  margin: 20px auto;
  padding: 5px 10px;
  border: solid;
  color: #61dafb;
  width:500px;
  height: fit-content;
  border-radius: 25px;
}

.Title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  letter-spacing: 5px;
}

.Exhibit {
  margin: 20px auto;
  padding: 5px 5px;
  border: 2px solid;
  color: #cce8f0;
  background-color: #cce8f0;
  width:1000px;
  border-radius: 10px;
}

.IP {
  color: #282c34;
  text-align:center;
  margin: 10px auto;
  padding: 10px 10px;
  border: 2px solid;
  border-color: #ffffff;
  background-color: #ffffff;
  width:480px;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
